
header{
    margin: 0 auto;
    max-width: 1440px;
    max-height: 103px;
    background: black;
}
.logo{  
    margin-left: 30px;
    max-width: 100px; 
} 
.conversion{
    position: relative;
    top: -25px;
    display: inline-block;
}