@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Plus+Jakarta+Sans:wght@300&family=Roboto:ital,wght@1,300&family=Rubik+Bubbles&family=Rubik+Wet+Paint&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Plus+Jakarta+Sans:wght@300&family=Rajdhani:wght@300;700&family=Roboto:ital,wght@1,300&family=Rubik+Bubbles&family=Rubik+Wet+Paint&display=swap');

.container{
    margin: 0 auto;
    max-width: 1440px;
    font-family: "Rajdhani", sans-serif;
    h1{
        font-size: 70px;
        text-transform: uppercase;
        text-align: center;
        line-height: 75px;
        margin: 40px 15px 0 15px;
    }
    h2{
        font-weight: 700;
        line-height: 40px;
        font-size: 56px;
        text-align: center;
        text-transform: uppercase;
        color: #FFFFFF;
        margin: 120px 0 50px 0;
        line-height: 55px;
        span{
            color: red;
        }
    }
    h3{
        font-weight: 400;
        font-size: 30px;
        text-align: center;
        font-family: "Roboto, Helvetica Neue, sans-serif";
    }
}
