@mixin arrow {
    width: 5px;
    height: 22px;
    display: block;
    background: rgb(155, 152, 152);
    border-radius: 2px;
}
.border-arrow{
    margin: 0 auto;
    max-width: 1440px;
    transform: rotate(-2deg);
    width: 62px;
    height: 62px;
    border: 7px solid rgb(155, 152, 152);
    border-radius: 50px;
    position: relative;
    &:hover{
        cursor: pointer;
        opacity: .8;
    }
    
}
.arrow_right{
    transform: rotate(-45deg);
    @include arrow;
    position: absolute;
    left: 22px;
    top: 20px;
    z-index: 1;
}
.arrow_left{
    transform: rotate(45deg);
    @include arrow;
    position: absolute;
    right: 22px;
    top: 20px;
}
