<!--Прошу не смотреть, на то что сдесь копи-паст, сделал небольшую верстку
на скорую руку, ведь это не основное задание, чтоб не была страница пустой-->

<div class="benefits">
    <div>
        <img src="../../../assets/block-info/CERTIFIED.png">
        <span>CERTIFIED CLIENTS</span>
        <p>We only accept job listings from certified clients</p>
    </div>
    <div>
        <img src="../../../assets/block-info/USE.png"/>
        <span>EASY TO USE</span>
        <p>You can monitor recent projects within your niche and also stay in touch with the client at all times.</p>
    </div>
    <div>
        <img src="../../../assets/block-info/CUSTOMER.png"/>
        <span>24/7 CUSTOMER SERVICE</span>
        <p>Freelancers can contact our expert support team in case of any issues with the clien</p>
    </div>
    <div>
        <img src="../../../assets/block-info/QUALITY.png"/>
        <span>ASSURED QUALITY</span>
        <p>Our team focuses on rigorous screening before accepting any freelancers on the platform.</p>
    </div>
    <div>
        <img src="../../../assets/block-info/CHARGES.png"/>
        <span>LOWEST CHARGES</span>
        <p>We only charge a reasonable amount of interest per project.</p>
    </div>
    <div>
        <img src="../../../assets/block-info/PAYMENTS.png"/>
        <span>SECURE PAYMENTS</span>
        <p>All your transactions are secure. You can choose your preferred payout option.</p>
    </div>
</div>
